:root {
    --base-color: #fff;
    --primary-color: var(--green);
    --border: dashed 0.10pc rgba(219, 219, 219, 1);
    --selection-background: rgba(219, 219, 219, 0.99);
    --selection-text: #121212;
    --background-color: #e4b171;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --green: #4bff63;
    --red: #ff475f;
    --blue: #4778ff;
    --orange: #f8c63e;

    --greenS: #4bff631e;
    --base-colorS: #DBDBDB1e;
    --redS: #ff475f1e;
    --blueS: #4778ff1e;
    --orangeS: #f8c63e1e;

    --img-border: dashed 0.10pc #354d59;
    --img-background: #628fa51e;

    --selection: var(--base-color);
    --selection_url: var(--base-color);

    --header-background-color: #991d23;
    --header-background-image: url(/assets/styles/kel/background.png);
    --sidebar-gradient: linear-gradient(to bottom, #f1bc41, #e8b737);
    --sidebar-label-gradient: linear-gradient(to right, #d5a661, #d5a661, #d5a661);
    --sidebar-background-color: #282828;
    --sidebar-text-color: #fff;
    --sidebar-border-color: #feae21;
    --sidebar-ul-color: #e9bb78;
    --sidebar-ul-border-color: #d5a661;
    --welcome-banner-color: #5d5d5d;
    --welcome-banner-fade-color: #5e5e5e;
    --welcome-banner-img: url(/assets/styles/kel/welcomebanner-bg.jpg);
    --welcome-banner-fade-img: url(/assets/styles/kel/welcomebanner-fade.png);
}

body {
    font-family: "Source Code Pro", monospace;
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
}

#content .banner{
    border: dashed 0.10pc #991d23;
    /* border-radius: 10pt; */
    background-color: #991d2396;
}
#content .banner h1 {
    margin: 8pt;
    margin-bottom: 4pt;
    margin-left: 16pt;
    margin-right: 16pt;
    font-size: 16pt;
    padding-right: 10pt;
    padding-bottom: 0;
    border-bottom: none;
}
#content .banner p {
    font-size: 12pt;
    margin-top: 4pt;
}

#header {
    background-image: var(--header-background-image);
    /* background-position-y: top; */
    /* background-position-y: -15pt; */
    /* background-position-y: -160pt;
    background-position-x: -230pt; */
    /* background-color: linear-gradient(to right, #181818, #181818, #131a3d); */
    background-color: var(--header-background-color);
    height: 90pt;
    max-height: 90pt;
    background-repeat: no-repeat;
    /* background-size: 500pt; */
    background-size: 340pt;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#sidebar li {
    display: block;
    position: relative;
    margin: 4px 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#sidebar {
    top: 90pt;
    left: 0;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid var(--sidebar-border-color);
    background: var(--sidebar-background-color);
    background-image: var(--sidebar-gradient);
    -pie-background: var(--sidebar-gradient);
    cursor: default;
    -pie-track-active: false;
    position: fixed;
    width: 208px;
    z-index: 100;
}

#sidebar .sidebar-section {
    position: relative;
    border: 0;
    padding: 12pt 12pt 12pt;
}

* {
    -webkit-text-size-adjust: 100%;
}

b {
    font-weight: bold;
}

#sidebar label b {
    display: block;
    position: relative;
    padding: 8px 13px 6px;
    line-height: 1;
    font-weight: 600;
    cursor: default;
    color: var(--sidebar-text-color);
    border-radius: 3px 3px 0 0;
    background: var(--background-color);
    background-image: var(--sidebar-label-gradient);
    -pie-background: var(--sidebar-label-gradient);
}

label {
    cursor: default;
}

b,
strong {
    font-weight: 600;
}

p,
ul,
ol {
    margin-top: 12pt;
    margin-bottom: 12pt;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#sidebar ul {
    position: relative;
    display: block;
    padding: 6px 13px;
    margin: 0;
    list-style: none;
    background: var(--sidebar-ul-color);
    border: 1px solid var(--sidebar-ul-border-color);
    /* border-top: 0; */
}

body,
button,
input,
select {
    font: 10pt/1.33 "Segoe UI", Verdana, sans-serif;
}

a {
    color: var(--base-color);
}

#content {
    display: block;
    padding-left: 210px;
    /* padding-right: 10px; */
    padding-top: 90pt;
    color: var(--base-color);
}

#content p {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 8pt;
    padding-right: 10pt;
}

#content h1 {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    font-size: 20pt;
    padding-right: 10pt;
    padding-bottom: 5pt;
    border-bottom: solid 0.20pc var(--base-colorS);
}

#content h2 {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    font-size: 16pt;
    padding-right: 10pt;
    padding-bottom: 5pt;
    border-bottom: solid 0.15pc var(--base-colorS);
}

#content h3 {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    font-size: 12pt;
    padding-right: 10pt;
}

#content h4 {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    font-size: 8pt;
    padding-right: 10pt;
}

#content h5 {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    font-size: 4pt;
    padding-right: 10pt;
}

#content h6 {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    font-size: 2pt;
    padding-right: 10pt;
}

#content hr{
    margin-left: 16pt;
    margin-right: 16pt;
    padding-right: 10pt;
    border-color: var(--base-colorS);
}

#content img, #content iframe {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    border: var(--img-border);
    background-color: var(--img-background);
}
#content p img, #content p iframe {
    margin: 8pt;
    margin-left: 0pt;
    margin-right: 0pt;
    border: dashed 0.10pc var(--base-color);
    background-color: var(--base-colorS);
}

.welcomebanner {
    position: relative;
    margin: 0;
    margin-top: 3pt;
    margin-right: 28pt;
    padding: 0;
    height: 72px;
    background-color: var(--background-color);
    /* margin: 0px 28px 0 0px; */
    line-height: 0;
}

.welcomebanner b {
    display: block;
    position: relative;
    top: 43px;
    height: 29px;
    background: var(--welcome-banner-fade-color) var(--welcome-banner-fade-img) 100% 0 repeat-y;
}

.welcomebanner i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 318px;
    height: 72px;
    background: var(--welcome-banner-img) 0 0 no-repeat;
}

#sidebar li a, #sidebar #eBasketUpdates {
    display: block;
    line-height: 16px;
    padding-left: 22px;
}

#sidebar li i, #sidebar #basket-container i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: url(/assets/sidebaricons.png?ac105e92) 0 0 no-repeat;
    image-rendering: pixelated;
}
#sidebar #sidebar-setup i, #sidebar #SOFTWARE i, #sidebar #product i, #sidebar #beta i {
    background-position: 0 0;
}
#sidebar #sidebar-home i, #sidebar #HOME i {
    background-position: -64px 0;
}
#sidebar #sidebar-projects i, #sidebar #PROJECTS i, #sidebar #sidebar-public i, #sidebar #PUBLIC i {
    background-position: -128px 0;
}
#sidebar #sidebar-tutorials i, #sidebar #TUTORIALS i {
    background-position: -224px 0;
}
#sidebar #sidebar-social i, #sidebar #SOCIAL i {
    background-position: -240px 0;
}
i {
    font-style: italic;
}
li {
    text-align: -webkit-match-parent;
}

.actionlink i {
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 28px;
    height: 28px;
    background: url(/assets/arrowsprite.png?ec3d66e8) 0 0 no-repeat;
    -pie-png-fix: true;
    image-rendering: pixelated;
}
.actionlink, .ie .actionlink, .actionlink:hover, .actionlink:active {
    text-decoration: none;
}
.actionlink {
    display: inline-block;
    position: relative;
    font: 500 1.3em/28px "Segoe UI","Franklin Gothic Medium","Trebuchet MS",Verdana,sans-serif;
    /* margin-left: 16pt; */
    text-indent: 30px;
}
.actionlink:hover i,.actionlink:focus i,.actionlink.pie_hover i,.actionlink.pie_focus i {
    background-position: -28px 0
}

.actionlink:active i,.actionlink.pie_active i {
    background-position: -56px 0
}

.actionlink:disabled i,.actionlink[disabled] i {
    background-position: -84px 0
}
#content blockquote {
    margin-left: 16pt;
    border-left: dashed 0.10pc var(--base-color);
}
#content blockquote p {
    margin-left: 8pt;
}
pre {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    padding-right: 10px;
    color: var(--background-color)
}
#content pre code{
    margin: 8pt;
    margin-left: -4pt;
    margin-right: 16pt;
    padding-right: 10px;
    border: none;
    color: var(--background-color)
}

#content input{
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    padding-right: 10px;
}

#content button{
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    padding-right: 10px;
}

#content label{
    margin: 8pt;
    margin-left: 32pt;
    margin-right: 16pt;
    padding-right: 10px;
}

#content code {
    margin: 8pt;
    margin-left: 16pt;
    margin-right: 16pt;
    padding: 5px;
    padding-top: 1.75px;
    padding-bottom: 1.75px;
    border: dashed 0.10pc var(--base-color);
    background-color: var(--base-colorS);
}
#content p code {
    margin: 8pt;
    margin-left: 0pt;
    margin-right: 0pt;
    padding: 5px;
    padding-top: 1.75px;
    padding-bottom: 1.75px;
    border: dashed 0.10pc var(--base-color);
    background-color: var(--base-colorS);
}